---
import { Content, isNotBlocksGroup } from "../../lib/search_slug";

interface Props {
  content: Content;
}

let { content } = Astro.props;
let head3 = null;

if (
  isNotBlocksGroup(content.result) &&
  content.result.type === "heading_3" &&
  content.result.heading_3.rich_text[0]?.type === "text"
) {
  head3 = content.result.heading_3.rich_text[0].text.content;
}
---

<div class="text-2xl font-bold mt-10 mb-8">
  {head3}
</div>
