---
import { Content, isNotBlocksGroup } from "../../lib/search_slug";

interface Props {
  content: Content;
}

let { content } = Astro.props;
let head2 = null;

if (
  isNotBlocksGroup(content.result) &&
  content.result.type === "heading_2" &&
  content.result.heading_2.rich_text[0]?.type === "text"
) {
  head2 = content.result.heading_2.rich_text[0].text.content;
}
---

<div class="text-3xl font-bold mt-16 mb-8">
  {head2}
</div>
