---
import type { Content } from "../../lib/search_slug";

interface Props {
  content: Content;
}

let { content } = Astro.props;
let head1 = null;

if (
  content.result.type === "heading_1" &&
  content.result.heading_1.rich_text[0]?.type === "text"
) {
  head1 = content.result.heading_1.rich_text[0].text.content;
}
---

<div class="text-4xl font-bold mt-20 mb-8">
  {head1}
</div>
