---
import type { Content } from "../../lib/search_slug";

interface Props {
  content: Content;
  count: number;
}

let { content, count } = Astro.props;
let text = null;

if (
  content.result.type === "numbered_list_item" &&
  content.result.numbered_list_item.rich_text[0]?.type === "text"
) {
  text = content.result.numbered_list_item.rich_text[0].text.content;
}
---

<div class="text-xl mb-4">
  {count}. {text}
</div>
