---
import type { NumberedListItemBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";

interface Props {
  content: NumberedListItemBlockObjectResponse;
  count: number;
}

let { content, count } = Astro.props;
let text = null;

if (content.numbered_list_item.rich_text[0]?.type === "text") {
  text = content.numbered_list_item.rich_text[0].text.content;
}
---

<div class="text-xl mb-4">
  {count}. {text}
</div>
