---
import type { Content } from "../../lib/search_slug";

interface Props {
  content: Content;
}

let { content } = Astro.props;
let para = null;

if (
  content.result.type === "paragraph" &&
  content.result.paragraph.rich_text[0]?.type === "text"
) {
  para = content.result.paragraph.rich_text[0].text.content;
}
---

<div class="text-xl my-8">
  {para}
</div>
