---
import type { ParagraphBlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";

interface Props {
  content: ParagraphBlockObjectResponse;
}

let { content } = Astro.props;
let para = null;

if (content.paragraph.rich_text[0]?.type === "text") {
  para = content.paragraph.rich_text[0].text.content;
}
---

<div class="text-xl mb-8">
  {para}
</div>
