---
interface Props {
  className: string;
  tagName: string;
  tagColor: string;
}

const { className = "", tagName = "", tagColor = "" }: Props = Astro.props;
const tagProp: { [key: string]: string } = {
  green: "bg-tag-green",
  yellow: "bg-tag-yellow",
  purple: "bg-tag-purple",
};
---

<div
  class={`w-fit h-7 ${tagProp[tagColor]} rounded-md py-2 px-3 flex justify-center items-center ${className}`}
>
  {tagName}
</div>
