---
import Htmlbody from "../components/htmlbody.astro";
import { databaseId, notion } from "../lib/common_var";
import { getContentFromSlug } from "../lib/search_slug";

export async function getStaticPaths() {
  const response = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Created",
        direction: "ascending",
      },
    ],
  });

  return response.results.map((page) => {
    if (
      "properties" in page &&
      "formula" in page.properties.Slug &&
      "string" in page.properties.Slug.formula
    ) {
      return {
        params: { slug: page.properties.Slug.formula.string },
      };
    }
  });
}

const { slug } = Astro.params;
let { title = "", content = "" } = Astro.props;

if (slug != undefined) {
  [title, content] = await getContentFromSlug(slug);
}
---

<Htmlbody>
  <div>{slug}</div>
  <div>{title}</div>
  <div>{content}</div>
</Htmlbody>
