---
import Htmlbody from "../components/htmlbody.astro";
import { databaseId, notion } from "../lib/common_var";

export async function getStaticPaths() {
  const response = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Created",
        direction: "ascending",
      },
    ],
  });

  return response.results.map((page) => {
    if (
      "properties" in page &&
      "formula" in page.properties.Slug &&
      "string" in page.properties.Slug.formula
    ) {
      return {
        params: { slug: page.properties.Slug.formula.string },
      };
    }
  });
}

const { slug } = Astro.params;
let { title = "" } = Astro.props;

if (slug != undefined) {
  const response = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Created",
        direction: "ascending",
      },
    ],
    filter: {
      property: "Slug",
      formula: {
        string: {
          contains: slug,
        },
      },
    },
  });

  if (
    "properties" in response.results[0] &&
    "title" in response.results[0].properties.Title
  ) {
    title = response.results[0].properties.Title.title[0].plain_text;
  }
}
---

<Htmlbody>
  <div>{slug}</div>
  <div>{title}</div>
</Htmlbody>
