---
import BlogRender from "../components/blog_render.astro";
import Htmlbody from "../components/htmlbody.astro";
import { databaseId, notion } from "../lib/common_var";
import { NotionResult, searchPageWithSlug } from "../lib/search_slug";

export async function getStaticPaths() {
  const response = await notion.databases.query({
    database_id: databaseId,
    sorts: [
      {
        property: "Created",
        direction: "ascending",
      },
    ],
  });

  return response.results.map((page) => {
    if (
      "properties" in page &&
      "formula" in page.properties.Slug &&
      "string" in page.properties.Slug.formula
    ) {
      return {
        params: { slug: page.properties.Slug.formula.string },
      };
    }
  });
}

const { slug } = Astro.params;
let result: NotionResult | undefined;

if (slug != undefined) {
  result = await searchPageWithSlug(slug);
}
---

<Htmlbody>
  {
    result != undefined &&
    result.card != undefined &&
    result.content != null ? (
      <>
        <div>{result.card.title}</div>
        <BlogRender response={result.content} />
      </>
    ) : (
      ""
    )
  }
</Htmlbody>
