---
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/poppins/700.css";
import "@fontsource/poppins/800.css";
import "@fontsource/poppins/900.css";
import Blog from "../components/cards/blog.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>notion astro</title>
  </head>
  <body>
    <header class="h-20 px-4 flex justify-between items-center">
      <h1 class="font-bold text-4xl leading-none">notion astro blog</h1>
    </header>
    <div class="px-4">
      <Blog
        title="How to win in life 🤔"
        tag="life"
        intro="Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui impedit at modi autem ab ipsum ipsam, corrupti sunt nobis incidunt quod officiis blanditiis"
      />
    </div>
  </body>
</html>
