---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>notion astro</title>
    <link href="prism-nord.css" rel="stylesheet" />
  </head>
  <body>
    <slot />
  </body>
</html>
